<footer class="footer">
  <div class="p2 wrap">
    <div class="measure mt1 center">
      <small>
        <a rel="license"
        href="http://creativecommons.org/licenses/by-nd/3.0/de/"><img
        alt="Creative Commons License" style="border-width:0"
        src="http://i.creativecommons.org/l/by-nd/3.0/de/80x15.png"
        /></a><br />This <span xmlns:dct="http://purl.org/dc/terms/"
        href="http://purl.org/dc/dcmitype/Text" rel="dct:type">work</span>
        by <span xmlns:cc="http://creativecommons.org/ns#"
        property="cc:attributionName">sam-d</span> is licensed
        under a <a rel="license"
        href="http://creativecommons.org/licenses/by-nd/3.0/de/">Creative
        Commons Attribution-NoDerivs 3.0 Germany License</a>
        <a href="/impressum.html">Impressum</a> Hosting: <a href="http://www.alfahosting.de/?wmid=samd">Alphahosting</a>
        Theme: <a href="http://pixyll.com/">Pixyll</a> available on <a href="https://github.com/johnotander/pixyll">Github</a>.
      </small>
    </div>
  </div>
</footer>

{% if site.google_analytics %}
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', '{{ site.google_analytics }}', 'auto');
ga('send', 'pageview');

</script>
{% endif %}
